@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
:root {
    --test: 0;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-weight: 100;
}

html,
body {
    font-family: "Oswald";
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

main::-webkit-scrollbar {
    display: none;
}

.flexRCenter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
}

.flexRBetween {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
}

.flexRAround {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
}

.flexCAround {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.flexRStart {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.flexCBetween {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
}

.flexCCenter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
}

.alignICenter {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex1 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.paddingAll {
    padding: 1rem;
}

.paddingX {
    padding-right: 1rem;
    padding-left: 1rem;
}

.paddingY {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.marginAll {
    margin: 1rem;
}

.marginX {
    margin-right: 1rem;
    margin-left: 1rem;
}

.marginY {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

main {
    overflow-y: scroll;
    height: 100%;
    min-height: 100%;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    scrollbar-width: none;
}

header {
    overflow: hidden;
    font-size: 3rem;
    z-index: 4;
    color: white;
    text-transform: uppercase;
    font-family: Oswald, sans-serif;
    font-weight: 300;
    position: fixed;
    width: 100%;
    background-color: #00000081;
    backdrop-filter: blur(10px);
}

header .flexRBetween {
    padding: 1rem;
}

header nav ul>* {
    padding-right: 1rem;
    padding-left: 1rem;
}

#logo {
    width: 5rem;
}

.btn {
    color: #fff;
    cursor: pointer;
    font-size: 36px;
    font-weight: 400;
    line-height: 45px;
    margin: .5rem 0 0;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

#mobile {
    display: none;
    font-size: 3rem;
    cursor: pointer;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

#menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-flow: row;
    flex-flow: row;
}

.btn:hover {
    text-decoration: none;
}

.btn {
    letter-spacing: 0;
    -webkit-transition: all 280ms ease-in-out;
    -o-transition: all 280ms ease-in-out;
    transition: all 280ms ease-in-out;
    text-align: center;
}

.btn:hover,
.btn:active {
    letter-spacing: 5px;
}

.btn:after,
.btn:before {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all 280ms ease-in-out;
    -o-transition: all 280ms ease-in-out;
    transition: all 280ms ease-in-out;
    width: 0;
}

.btn:hover:after,
.btn:hover:before {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-color: #fff;
    -webkit-transition: width 350ms ease-in-out;
    -o-transition: width 350ms ease-in-out;
    transition: width 350ms ease-in-out;
    width: 70%;
}

.btn:hover:before {
    bottom: auto;
    top: 0;
    width: 70%;
}

input {
    all: initial;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.active:after,
.active:before {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-color: #fff;
    -webkit-transition: width 350ms ease-in-out;
    -o-transition: width 350ms ease-in-out;
    transition: width 350ms ease-in-out;
    width: 70%;
}

.active:before {
    bottom: auto;
    top: 0;
    width: 70%;
}

.active.btn {
    letter-spacing: 5px;
}

footer {
    font-size: .9rem;
    width: 100%;
    color: black;
    bottom: 0;
    z-index: 5;
    position: fixed;
}

.social {
    margin-right: 1rem;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.social a {
    margin-left: 1rem;
    margin-left: 1rem;
    cursor: pointer;
    -webkit-transition: color .25s ease-in-out;
    -o-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
    color: white;
}

.reseaux a:nth-child(1):hover {
    color: #fd0100;
}

.reseaux a:nth-child(2):hover {
    color: #1877f2;
}

.reseaux a:nth-child(3):hover {
    color: #7289da;
}

.reseaux a:nth-child(4):hover {
    color: #50abf1;
}

.copyright {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-left: 1rem;
}

.products {
    flex-wrap: wrap;
}

.product {
    flex-basis: 10%;
    border: solid black;
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75);
}

.product img {
    width: 5rem;
}

.ptop {
    padding-top: 10rem;
}

.images-holder {
    max-height: 25rem;
    overflow: scroll;
}

.images-holder img {
    max-height: 15rem;
}

.admin form {
    padding: 1rem;
}

main.admin form input {
    border: 1px solid black;
}

@media (max-width: 900px) {
    .btn {
        margin: 0 1em 2em;
    }
    #logo {
        width: 50%;
        min-width: 50%;
    }
    #menu ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    #mobile {
        -ms-flex-item-align: end;
        align-self: flex-end;
        display: inline;
    }
    header {
        overflow: hidden;
        -webkit-backdrop-filter: blur(10px);
    }
}

@media (max-width: 500px) {
    footer .flexRBetween {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .social {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
    #logo {
        padding: 0;
    }
    #logo img:first-child {
        display: none;
    }
    #logo .mobile {
        margin: 0;
        width: 40%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

@media (max-width: 350px) {
    .social {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}